.env
*.env
*.node_modules

#Removing the DynamoDB folder node_modules from the git repo.
DynamoDB/node_modules
DynamoDB/.env

Auth_Login_Otp_Verification/client/node_modules
Auth_Login_Otp_Verification/server/node_modules

#Auth
Auth_2FA(Google Auth)/server/.env
Auth_2FA(Google Auth)/server/node_modules
Auth_2FA(Google Auth)/client/node_modules
