.env
*.env
*.node_modules

#Removing the DynamoDB folder node_modules from the git repo.
DynamoDB/node_modules
DynamoDB/.env

Auth_Login_Otp_Verification/client/node_modules
Auth_Login_Otp_Verification/server/node_modules

#Auth
Auth_2FA/server/.env
Auth_2FA/server/node_modules
Auth_2FA/client/node_modules
SSO/sso-backend/node_modules
SSO/sso-backend/.env
SSO/sso-backend/package-lock.json
SSO/sso-frontend/node_modules
SSO/sso-frontend/.env
SSO/sso-frontend/package-lock.json
